* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-rows: 80px 50px auto 80px;
    grid-template-columns: 3fr 1fr;
    grid-template-areas:
        "header header"
        "nav nav"
        "main aside"
        "footer footer";
    height: 100vh;
    font-family: Arial, sans-serif;
    text-align: left;
}

.header {
    grid-area: header;
    background-color: #333;
    color: white;
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 1.5rem;
}

.navigation {
    grid-area: nav;
    display: flex;
    background-color: black;
}

.navigation a {
    flex: 1;
    color: white;
    text-decoration: none;
    padding: 15px;
    text-align: center;
}

.main-content {
    grid-area: main;
    background-color: #ccc;
    padding: 20px;
}

.aside-content {
    grid-area: aside;
    background-color: white;
    padding: 20px;
}

.footer {
    grid-area: footer;
    background-color: #333;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
}

