@media screen and (min-width: 600px) { 

    body {
        max-width: 1024px;
        display: grid;
        height: 100vh;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr auto;
        justify-content: center;
        margin: 0 auto 0 auto;
        padding: 0 1rem 1rem 1rem;
    }

    header {
        max-width: 1024px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0; 
        grid-column: 1 / 3;
        border: 2px solid rgb(228, 51, 201);
        padding: 0 2rem 1rem 0;
    }

    h1 {
        margin: 0 2rem;
        font-size: 3rem;
    } 

   
    h2 {
        font-size: 2rem;
        text-align: center;
    }

    #menu {
        display: none;
    }

    .navigation {
        justify-content: flex-end;
        flex-direction: row;
    }

    .navigation li {
        display: block;
    }

    .navigation a {
        flex: 1 1 100%;
        font-size: x-large;
    }

    main {
        border: 2px groove rgb(230, 237, 237);
        border-radius: 2px;
    }

    main,
    .temples {
        margin: 1rem auto;
        padding: 1rem;
    }

    .temples {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-gap: 25px;
        place-items: center;
        align-items: baseline;
        margin: 0;
        padding: 2rem;
    }

    
    img {
        width: 100%;
        height: auto;
        border: 5px double rgb(175, 196, 196);
        
    }

    

    figcaption {
        font-size: medium;
    }

    footer {
        max-width: 1024px;
        grid-column: 1 / 3;
    }

    footer p {
        margin: 1rem auto;
    }
}